<nav>
 <ul class="nav {{include.navclass}}">
  <li>
    <a href="{{site.baseurl}}/"
       class="{% if page.url == '/' %}current{% endif %}">
        Home
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/blog.html"
       class="{% if page.url == '/blog.html' %}current{% endif %}">
        Blog
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/news.html"
       class="{% if page.url == '/news.html' %}current{% endif %}">
       News
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/about.html"
       class="{% if page.url == '/about.html' %}current{% endif %}">
       About
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/impressum.html"
       class="{% if page.url == '/impressum.html' %}current{% endif %}">
      Impressum
    </a>
  </li>
 </ul>
</nav>
